includes:
	- vendor/contributte/phpstan/phpstan.neon

parameters:
	level: 9
	phpVersion: 80200

	scanDirectories:
		- src

	fileExtensions:
		- php

	paths:
		- src
		- .docs

	ignoreErrors:
		- '#Fetching deprecated class constant ALL#'
		- '#has parameter \$\w+ with no type specified#'
